.background {
    background-color: #394931;
}
.logincontainer {
    
}
  @media (max-width: 1250px) and (min-width: 600px) {
        .wholecontainer {
          flex-direction: column;
          height: 100S;
        }
      }
