.Welcome {
  grid-column: 1;
}

.errorClass {
  color: red;
}

.wholeContainer {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-secondary);
    grid-column: span 3;
    min-height: 500px;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}

.plant-inline{
    position: relative;
}
.plant-inline .hover-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
}

.swiper {
  width: 100%;
  overflow: hidden;
  padding: 0 40px;
}

.swiper-slide {
  flex-shrink: 0;
  width: 200px !important;
}

.plantImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}
