#WholeContainer {
  background-color: #446945;
  padding: 3rem;
  border-radius: 15px;
  grid-column: 3;
}

#usernameSignUp,
#emailSignUp,
#passwordSignUp,
#usernameLogin,
#passwordLogin{
  background-color: #446945;
  position: relative;
  height: 3rem;
  width: 23rem;
  border-radius: 7px;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
}
#usernameSignUp,
#emailSignUp,
#passwordSignUp,
#usernameLogin,
#passwordLogin::placeholder {
  color: gray;
  font: 1rem/3 sans-serif;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color: lightblue;
}
#signInButton,
#signUpButton,
#backToLoginButton,
#registerButton{
  color: #7c58a8;
  background-color: #d2cadb;
  border: #d2cadb;
  margin: 1rem 0 1rem 0;
  padding: 0.5em;
  border-radius: 3px;
}
#buttonsContainer {
  display: flex;
  flex-direction: column;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #446945 inset !important;
  background-color: #6424ad !important;
  border: 1px solid gray;
}
input {
    display: block;
    width: 50vw;
    padding: 0 1.25rem;
}